/***********************************************************************
 *  Nav Bar
 **********************************************************************/
.main-nav {
  display: flex;
  list-style: none;
  margin: 0;
  font-size: 0.7em;
}

@media only screen and (max-width: 600px) {
  .main-nav {
    font-size: 0.5em;
    padding: 0;
  }
}

.push {
  margin-left: auto;
}

li {
  padding: 20px;
}

a {
  color: #f5f5f6;
  text-decoration: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.blue {
  background: #7abcff; /* Old browsers */
  background: -moz-linear-gradient(
    to top,
    #7abcff 0%,
    #60abf8 44%,
    #4096ee 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left to bottom,
    left bottom,
    color-sto bottom(0%, #7abcff),
    color-stop(44%, #60abf8),
    color-stop(100%, #4096ee)
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    to top,
    #7abcff 0%,
    #60abf8 44%,
    #4096ee 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    to top,
    #7abcff 0%,
    #60abf8 44%,
    #4096ee 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(
    to top,
    #7abcff 0%,
    #60abf8 44%,
    #4096ee 100%
  ); /* IE10+ */
  background: linear-gradient(
    to top,
    #7abcff 0%,
    #60abf8 44%,
    #4096ee 100%
  ); /* W3C */
}

.zone {
  /*padding:30px 50px;*/
  cursor: pointer;
  color: #fff;
  font-size: 1.5em;
  border-radius: 4px;
  border: 1px solid #444;
  transition: all 0.3s linear;
}

.zone:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  -o-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
}
